.notification-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-list {
    background-color: aquamarine;
    height: 50%;
    width: 50%;
}

.send {
    width: 10vw;
    height: 8vw;
}