@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.login-container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #0077b6;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component-title {
    font-size: 1.8em;
    position: absolute;
    color: black;
    font-weight: 800;
}

.component-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    position: relative;
    margin-top: 2vh;
}

.component-input {
    width: 18vw;
    height: 4vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
}

.component-placeholder {
    position: absolute;
    left: 10px;
    top: 25%;
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
}

.component-input:focus + .component-placeholder,
.component-input:not(:placeholder-shown) + .component-placeholder {
    top: -15%;
    left: 10px;
    font-size: .7rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input:focus{
    outline: none !important;
    border: solid #0077b6 2px;
}

.continueBtn {
    width: 18vw;
    height: 4vh;
    background-color: #0077b6;
    margin-top: 2vh;
    border-radius: 5px;
    color: white;
}

.signUpText {
    margin-top: 2vh;
    color: black;
}

.signUpRoute {
    color: #0077b6;
    cursor: pointer;
}

.forgotPassRoute{
    margin-top: 2vh;
    color: black;
    color: #0077b6;
    cursor: pointer;
    left: 0;
}
