@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.logo {
    width: 50px;
    height: 50px;
    background-color: #0077b6;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.component-title {
    font-size: 1.8em;
    position: absolute;
    color: black;
    font-weight: 800;
}

.component-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 2vh;
}

.incorrectInput {
    border: solid #d62828 2px !important;
    color: black;
}

.incorrectInput:focus {
    border: solid #d62828 2px !important;
    color: black;
}

.incorrectInputLabel {
    color: #d62828 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.continueBtn {
    width: 30vw;
    height: 4vh;
    background-color: #0077b6;
    margin-top: 2vh;
    border-radius: 5px;
    color: white;
}

.signInT {
    margin-top: 2vh;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.signInRoute {
    color: #0077b6;
    cursor: pointer;
    margin-left: 5px;
}

.account-created-message {
    font-size: .8rem;
}

/* Component Input One */

.component-input-one{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
}

.component-placeholder-one {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc((4vh - 1rem)/3);
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}
.component-input-one:focus ~ .component-placeholder-one,
.component-input-one:not(:placeholder-shown) + .component-placeholder-one {
    top: calc(0px - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-one:focus {
    outline: none !important;
    border: solid #0077b6 2px;
    background-color: white;
}

/* Component Input Two*/

.component-input-two { 
    margin-top: 2vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
    width: 30vw;
    height: 4vh;
}

.component-placeholder-two {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc(6vh + ((4vh - 1rem)/3));
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.component-input-two:focus ~ .component-placeholder-two,
.component-input-two:not(:placeholder-shown) + .component-placeholder-two {
    top: calc(6vh - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-two:focus {
    outline: none !important;
    border: solid #0077b6 2px;
    background-color: white;
}

/* Component Input Three */

.component-input-three-wrapper { 
    display: flex;
}

.component-input-three { 
    margin-top: 2vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
    height: 4vh;
    width: 25vw !important;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.component-placeholder-three {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc(12vh + ((4vh - 1rem)/3));
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.component-input-three:focus ~ .component-placeholder-three,
.component-input-three:not(:placeholder-shown) + .component-placeholder-three {
    top: calc(12vh - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-three:focus {
    outline: none !important;
    border: solid #0077b6 2px;
    background-color: white;
    border-right: none;
}

/* Component Input Four */

.component-input-four-wrapper { 
    display: flex;
}

.component-input-four { 
    margin-top: 2vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
    height: 4vh;
    width: 25vw !important;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.component-placeholder-four {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc(18vh + ((4vh - 1rem)/3));
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.component-input-four:focus ~ .component-placeholder-four,
.component-input-four:not(:placeholder-shown) + .component-placeholder-four {
    top: calc(18vh - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-four:focus {
    outline: none !important;
    border: solid #0077b6 2px;
    background-color: white;
    border-right: none;
}

/* Show Password Button */

.showPasswordBtn {
    color: #0077b6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    margin-top: 2vh;
    width: 5vw;
    border-top: solid grey 2px;
    border-bottom:solid grey 2px;
    border-right: solid grey 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.show-password-img{
    color: #0077b6;
    width: 1.8vw;
    pointer-events: none;
    user-select: none;
}

.showPasswordBtn:hover {
    background-color: #0076b625;
}

.component-input-three:focus ~ .showPasswordBtn,
.component-input-three:not(:placeholder-shown) + .showPasswordBtn {
    border-color: #0077b6 !important;
}

.show-password-hover-text{
    position: absolute;
    font-size: .8rem;
    left: 5.5vw;
    pointer-events: none;
    background-color: #0077b6;
    color: white;
    padding: 0.5em;
    white-space: nowrap;
    border-radius: 5px;
}

/* Show Confirm Password Button */

.showConfPasswordBtn {
    color: #0077b6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    margin-top: 2vh;
    width: 5vw;
    border-top: solid grey 2px;
    border-bottom:solid grey 2px;
    border-right: solid grey 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.show-conf-password-img{
    color: #0077b6;
    width: 1.8vw;
}

.showConfPasswordBtn:hover {
    background-color: #0076b625;
}

.component-input-four:focus ~ .showConfPasswordBtn,
.component-input-four:not(:placeholder-shown) + .showConfPasswordBtn {
    border-color: #0077b6 !important;
}

.show-conf-password-hover-text{
    position: absolute;
    font-size: .8rem;
    left: 5.5vw;
    pointer-events: none;
    background-color: #0077b6;
    color: white;
    padding: 0.5em;
    white-space: nowrap;
    border-radius: 5px;
}

/* Birthday Entry Box */

#birthdayInput {
    width: 30vw !important;
    border-right: solid 2px grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Field Req Box */

.fieldReqBox {
    width: 30vw;
    display: flex;
    border-radius: 5px;
    border: solid 2px #0077b6;
    padding: 10px;
    margin-top: 2vh;
    font-size: .9rem !important;
    background-color: #0076b625;
    color: black;
    flex-direction: column;
}

.fieldReqBox div {
    position: relative;
}

.fieldReqBox div span {
    position: absolute;
    right: 0;
    top: calc((100% - 1em)/2);
}

.reqSatisfied {
    background-color: green !important;
    height: 1em;
    width: 1em;
    border-radius: 100%;
}

/* field Error Box */

.component-form-error {
    width: 30vw;
    display: flex;
    background-color: #d6282825;
    border-radius: 5px;
    margin-top: 2vh;
    font-size: .9rem !important;
    color: black;
    flex-direction: column;
    height: fit-content;
    opacity: 0;
    border: #d62828 solid 2px;
    padding: 10px;
    display: none !important;
}

.visible {
    opacity: 1;
    display: block !important;
}

.hidden {
    display: none !important;
}

.loginText {
    margin-top: 2vh;
    color: black;
    font-size: 1rem;
    width: 150%;
    display: flex;
    justify-content: center;
}

.loginRoute {
    color: #0077b6;
    cursor: pointer;
    margin-left:5px;
}

.navBack {
    width: 30vw;
    position: relative;
    display: flex;
    margin-bottom: 6vh;
    height: 4vh;
    display: flex;
    align-items: center;
}
.navBack-img {
    width: 1.5vw;
    fill: #0077b6;
    position: absolute;
    left: 0;
    cursor: pointer;
}
