@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


.logo {
    width: 50px;
    height: 50px;
    background-color: #ff8800;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.component-title {
    font-size: 1.8em;
    position: absolute;
    color: black;
    font-weight: 800;
}

.component-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 2vh;
}

.incorrectInput {
    border: solid red 2px;
    color: red;
}

.incorrectInput:focus {
    border: solid red 2px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.continueBtn {
    width: 30vw;
    height: 4vh;
    background-color: #ff8800;
    margin-top: 2vh;
    border-radius: 5px;
    color: white;
}

.signInT {
    margin-top: 2vh;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.signInRoute {
    color: #ff8800;
    cursor: pointer;
    margin-left: 5px;
}

.account-created-message {
    font-size: .8rem;
}

/* Component Input One */

.component-input-one{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
}

.component-placeholder-one {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc((4vh - 1rem)/3);
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}
.component-input-one:focus ~ .component-placeholder-one,
.component-input-one:not(:placeholder-shown) + .component-placeholder-one {
    top: calc(0px - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-one:focus {
    outline: none !important;
    border: solid #ff8800 2px;
    background-color: white;
}

.component-form-error-one {
    font-size: .8rem;
    color: red;
    height: 0px;
    position: absolute;
    left: 10%;
    top: calc(4vh + .8rem*.3);
}

/* Component Input Two*/

.component-input-two { 
    margin-top: 2vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
    width: 30vw;
    height: 4vh;
}

.component-placeholder-two {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc(6vh + ((4vh - 1rem)/3));
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.component-input-two:focus ~ .component-placeholder-two,
.component-input-two:not(:placeholder-shown) + .component-placeholder-two {
    top: calc(6vh - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-two:focus {
    outline: none !important;
    border: solid #ff8800 2px;
    background-color: white;
}

.component-form-error-two {
    font-size: .8rem;
    color: red;
    height: 0px;
    position: absolute;
    left: 10%;
    top: calc(10vh + .8rem*.3);
}

/* Component Input Three */

.component-input-three { 
    margin-top: 2vh;
    border-radius: 5px;
    padding-left: 10px;
    border: solid grey 2px;
    width: 30vw;
    height: 4vh;
}

.component-placeholder-three {
    position: absolute;
    left:calc(((100% - 30vw) + 15px)/2);
    top: calc(12vh + ((4vh - 1rem)/3));
    font-size: 1rem;
    pointer-events: none;
    background-color:white;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.component-input-three:focus ~ .component-placeholder-three,
.component-input-three:not(:placeholder-shown) + .component-placeholder-three {
    top: calc(12vh - .8rem*.75);
    left:calc(((100% - 30vw) + 15px)/2);
    font-size: .8rem;
    color: #03045e;
    padding: 0 4px;
}

.component-input-three:focus {
    outline: none !important;
    border: solid #ff8800 2px;
    background-color: white;
}

.component-form-error-three {
    font-size: .8rem;
    margin-bottom: 1vh;
    color: red;
    height: 0px;
    position: absolute;
    left: 10%;
    top: calc(16vh + .8rem*.3);
}


