@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}