@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.category{
    font-size: 1.5vw; /* font size relative to view-width*/
    height: 15vw;
}

.column{
    flex-grow:21;

    padding: 2.5vw;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 3%;
    border: 2px solid #3498db; 
    border-radius: 4px; 
    font-size: 1.5vw; /* font size relative to view-width*/
}

.scrollable_column {
    overflow-x: auto;       
    white-space: nowrap;    
    max-width: 100%;      
    scrollbar-width: none;
    scroll-behavior: smooth;
} 

.column_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_heading :first-child {
    flex: 0 0 auto;

  }  

.button_all{
    flex: 2 1 0;
    margin-left: auto;
    border: 3px;
    padding: 2.5vw;

}

.button_r{
    flex: 1 1 0;
    margin-left: auto;
}
.button_l{
    flex: 1 1 1;
    margin-left: auto;
}