@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 1rem;
}

.components {
    height: calc(100%)
}

.component-wrapper {
    background-color: #333;
    width: 100%;
    height: calc(100%);
    border-radius: 10px;
    overflow: auto;
}

.profile-details {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-left {
    background-color: aliceblue;
    margin: .5rem;
    margin-right: 0;
    border-radius: 10px;
    height: calc(100% - 1rem);
    width: calc(30% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-right{
    margin: .5rem;
    border-radius: 10px;
    height: calc(100% - 1rem);
    width: calc(70% - 1rem);
    display: flex;
    flex-direction: column;
}
.profile-line-1{
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.profile-username {
    background-color:aquamarine;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
}
.profile-options {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.profile-options button {
    background-color: pink;
    height: 100%;
    width: 30%;
    margin-left: 1rem;
    border-radius: 10px;
}

.profile-settings-btn {
    width: 10% !important;
}

.profile-line-2 {
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-line-2 div {  
    background-color: #f8f8f8;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
}

.profile-event-number {
    
}

.profile-follower-number {
    
}

.profile-following-number {
    
}

.profile-line-3 {
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
}

.profile-name {
    height: 100%;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
}

.profile-pronouns {
    height: 100%;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    margin-left: .5rem;
    font-size: .9rem;
}


.profile-line-4 {
    width: calc(100% - .4rem);
    height: calc(40% - .2rem);
    margin: .2rem;
    border-radius: 10px;
}

.profile-bio {
    box-sizing: border-box;
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    resize: none;
    overflow-y: hidden;
    max-height: calc((1.4 * 1.1rem * 2 ) + 1.8rem);
    font-size: 1rem;
}

.edit-component-wrapper {
    background-color: #333;
    width: 100%;
    height: calc(100%);
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.edit-profile-title {
    background-color: #f8f8f8;
    width: 70%;
    border-radius: 10px;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.edit-profile-top-bar {
    background-color: #f8f8f8;
    width: 70%;
    border-radius: 10px;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.edit-profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.edit-profile-img-container img {
    height: 90%;
    border-radius: 100%;
}

.edit-profile-names {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.edit-profile-username {
    width: 100%;
    height: 30%;
    font-size: 1rem;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.edit-profile-name {
    width: 100%;
    height: 30%;
    font-size: 1rem;    
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

.edit-profile-change-photo-btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-change-photo-btn button{
    background-color: pink;
    width:70%;
    height: 30%;
    border-radius: 10px;
}

.edit-profile-names-bar{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    justify-content: space-between;
}

.edit-profile-username-bar {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 1rem;
    border-radius: 10px;
    
}

.edit-profile-username-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-username-input {
    margin-top: .5rem;
    padding: .7rem;
    border-radius: 10px;
    border: #333 2px solid;
}

.edit-profile-name-bar {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 1rem;
    border-radius: 10px;
    
}

.edit-profile-name-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-name-input {
    margin-top: .5rem;
    padding: .7rem;
    border-radius: 10px;
    border: #333 2px solid;
}

.edit-profile-links-bar {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    
}

.edit-profile-links-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-links-input {
    margin-top: .5rem;
    padding: .7rem;
    border-radius: 10px;
    border: #333 2px solid;
}

input:focus, 
textarea:focus, 
select:focus {
  outline: none;        /* Removes the standard focus outline */
  box-shadow: none;     /* Removes any default focus ring (especially in Chrome) */
  border: 2px solid #333; /* Or your custom border style */
  transition: none;
  transform: none;
  resize: none;
}


.edit-profile-bio-bar {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
}

.edit-profile-bio-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-bio-input {
    box-sizing: border-box;
    margin-top: .5rem;
    padding: .9rem;
    border-radius: 10px;
    border: #333 2px solid;
    flex-wrap: wrap;
    line-height: 1.4 !important; 
    min-height: calc((1.4 * 1.1rem * 2 ) + 1.8rem);
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    resize: none;
    align-items: center;
}

.edit-profile-bio-char-count {
    display: flex;
    position: absolute;
    right: .3rem;
    bottom: 0;
    margin-bottom: .1rem;
    border-radius:10px;
    font-size: .9rem;
} 

.edit-profile-identity-bar {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
    margin-right: auto;
    margin-left: 15%;
}

.edit-profile-gender-bar {
    display: flex;
    flex-direction: column;
    width: 21%;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
}

.edit-profile-gender-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-gender-select{
    height: 6vh;
    width: 100%;
    padding: .9rem;
    margin-top: .5rem;
    border-radius: 10px;
    resize: none;
}

.edit-profile-pronoun-bar {
    display: flex;
    flex-direction: column;
    width: 21%;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 3%;
}

.edit-profile-pronoun-title {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.edit-profile-pronoun-input {
    margin-top: .5rem;
    height: 6vh;
    border-radius: 10px;
    border: #333 2px solid;
    padding: .9rem;
}

.edit-profile-submit-bar {
    display: flex;
    width: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
    justify-content: right;
    align-items: center;
}

.edit-profile-submit-btn {
    background-color: pink;
    height: 6vh;
    width: 25%;
    margin-top: .5rem;
    border-radius: 10px;
}

input, select {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc; /* Optional, to match */
    box-sizing: border-box;
    font-size: .8rem; /* Ensure the font size matches */
    line-height: 1.4; /* Ensure line-height consistency */
}

/* Profile content CSS */

.profile-content {
    height: calc(70% - 1rem);
    width: calc(100% - 1rem);
    background-color: #f8f8f8;
    margin: .5rem;
    border-radius: 10px;
}

.profile-viewing-options {
    background-color: antiquewhite;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-viewing-options button {
    background-color: pink;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    margin-left: 1rem;
}

.event-list-component {
    height: (calc(100% - 6vh));
    width: 100%;
}