@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 1rem;
}

.components {
    height: inherit;
}

.component-wrapper {
    background-color: #333;
    width: 100%;
    height: calc(100% - 61px);
    margin-top:1rem;
    border-radius: 10px;
}

.profile-details {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-left {
    background-color: aliceblue;
    margin: .5rem;
    margin-right: 0;
    border-radius: 10px;
    height: calc(100% - 1rem);
    width: calc(30% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-right{
    margin: .5rem;
    border-radius: 10px;
    height: calc(100% - 1rem);
    width: calc(70% - 1rem);
    display: flex;
    flex-direction: column;
}
.profile-line-1{
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.profile-username {
    background-color:aquamarine;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
}
.profile-options {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.profile-options button {
    background-color: pink;
    height: 100%;
    width: 30%;
    margin-left: 1rem;
    border-radius: 10px;
}

.profile-settings-btn {
    width: 10% !important;
}

.profile-line-2 {
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-line-2 div {  
    background-color: #f8f8f8;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
}

.profile-event-number {
    
}

.profile-follower-number {
    
}

.profile-following-number {
    
}

.profile-line-3 {
    width: calc(100% - .4rem);
    height: calc(20% - .2rem);
    margin: .2rem;
    border-radius: 10px;
}

.profile-name {
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}


.profile-line-4 {
    width: calc(100% - .4rem);
    height: calc(40% - .2rem);
    margin: .2rem;
    border-radius: 10px;
}

.profile-bio {
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: top;
    flex-wrap: wrap;
}

.profile-content {
    height: calc(70% - 1rem);
    width: calc(100% - 1rem);
    background-color: #f8f8f8;
    margin: .5rem;
    border-radius: 10px;
}